@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   color-scheme: dark
}

html, body {
   @apply m-0 bg-white dark:bg-black text-black dark:text-white font-sans cursor-none overflow-hidden
}

html, body, #__AMILLIONCITIES {
   @apply w-full h-full
}

@keyframes slide-right {
   0% {
      opacity: 0;
      transform: translateX(-20px)
   }
   30% {
      transform: translateX(0px);
      opacity: 1
   }
   100% {
      transform: translateX(20px);
      opacity: 0
   }
}

hr {
   @apply my-4 border-black/25
}

a {
   @apply underline;
   color: currentColor
}

.__EIGHTEEN-PROJECT-IMAGE {
   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)
}

div[data-content-id="content:coc.md"] {
   scroll-behavior: smooth;
}

.__EIGHTEEN-PROJECT:hover .__EIGHTEEN-PROJECT-IMAGE {
   /* @apply md:clippy sm:clippy-large clippy-xl; */
   opacity: 100;
}

.__EIGHTEEN-PROJECT:hover .__EIGHTEEN-PROJECT-DETAILS {
   @apply opacity-100 md:right-5 right-3 duration-200
}

a.topbar-link.router-link-active {
   @apply underline
}

a.topbar-link:active, button:active {
   @apply translate-y-px
}

button {
   @apply bg-transparent font-sans text-base m-0 p-0 cursor-pointer outline-none border-none
}

* {
   @apply xl:!cursor-none
}

canvas {
   @apply absolute top-0 right-0 select-none pointer-events-none dark:opacity-[0.1] dark:invert opacity-70 md:block hidden
}

/* width */
::-webkit-scrollbar {
   width: 4px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: darkgray; 
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: gray; 
 }