@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   color-scheme: dark
}

html, body {
   @apply m-0 bg-white text-black font-sans overflow-hidden;
}

html, body, #__nuxt {
   @apply w-full h-full
}

body:before {
   z-index: 0;
   content: "";
   background: url(/noise.png);
   opacity: 0.1;
   background-size: 36px;
   mix-blend-mode: soft-light;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0
}

.animate-pulse-slow {
   animation: pulse 10s cubic-bezier(0.67, 0.02, 0.84, 0.93) infinite
}

@keyframes slide-right {
   0% {
      opacity: 0;
      transform: translateX(-20px)
   }
   30% {
      transform: translateX(0px);
      opacity: 1
   }
   100% {
      transform: translateX(20px);
      opacity: 0
   }
}

hr {
   @apply my-4 border-white/25
}

a {
   @apply underline;
   color: currentColor
}

.__ENDLESSVALLEY-PROJECT-IMAGE {
   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)
}

div[data-content-id="content:coc.md"] {
   scroll-behavior: smooth;
}

.__ENDLESSVALLEY-PROJECT:hover .__ENDLESSVALLEY-PROJECT-IMAGE {
   /* @apply md:clippy sm:clippy-large clippy-xl; */
   opacity: 100;
}

.__ENDLESSVALLEY-PROJECT:hover .__ENDLESSVALLEY-PROJECT-DETAILS {
   @apply opacity-100 md:right-5 right-3 duration-200
}

a.topbar-link.router-link-active {
   @apply underline bg-white text-black
}

a.topbar-link:active, button:active {
   @apply translate-y-px
}

button {
   @apply bg-transparent m-0 p-0 border-none
}

canvas {
   @apply absolute top-0 right-0 select-none pointer-events-none opacity-50 z-10 lg:block hidden
}

div.AEXHELL-INTERACTION-GRADIENT:before {
   background: linear-gradient(90deg, #0000, #000000, #000000ee, #0000);
   width: 100%;
   height: 100%;
   content: "";
   z-index: 15;
   position: absolute;
   left: 0;
   top: 0
}

main {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Crect width='0' height='20' fill='%23fff00' /%3E%3Crect x='0%' width='1' height='100%' fill='rgba(54, 52, 49, 0.2)' /%3E%3Crect y='0%' width='100%' height='1' fill='rgba(54, 52, 49, 0.2)' /%3E%3C/svg%3E%0A");
}

#AEXHELL-TITLE {
   writing-mode: vertical-lr;
   margin: 0;
   margin-block: 0
}

h1,h2,h3,h4,h5,h6 {
   @apply font-display font-light
}

h1,h2,h3,h4,h5,h6,a,p,span {
   text-shadow: 0 0 10px rgba(54, 52, 49, 0.5)
}

/* width */
::-webkit-scrollbar {
   width: 4px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: darkgray; 
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: gray; 
 }